# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/paris_relay.X/build/Debug/production/_ext/1472/*.p1
/paris_relay.X/build/Debug/production/_ext/1472/*.d
/paris_relay.X/build/Debug/production/_ext/1472/*.pre
/paris_relay.X/build/Debug/production/_ext/1767644135/*.pre
/paris_relay.X/build/Debug/production/_ext/382426430/*.pre
/paris_relay.X/build/Release/production/_ext/1472/*.p1
/paris_relay.X/build/Release/production/_ext/1472/*.d
/paris_relay.X/build/Release/production/_ext/1472/*.pre
/paris_relay.X/build/Release/production/_ext/1767644135/*.p1
/paris_relay.X/build/Release/production/_ext/1767644135/*.d
/paris_relay.X/build/Release/production/_ext/1767644135/*.pre
/paris_relay.X/build/Release/production/_ext/382426430/*.p1
/paris_relay.X/build/Release/production/_ext/382426430/*.d
/paris_relay.X/build/Release/production/_ext/382426430/*.pre
/paris_relay.X/build/Relocated/production/_ext/1472/*.p1
/paris_relay.X/build/Relocated/production/_ext/1472/*.d
/paris_relay.X/build/Relocated/production/_ext/1472/*.pre
/paris_relay.X/build/Relocated/production/_ext/1767644135/*.p1
/paris_relay.X/build/Relocated/production/_ext/1767644135/*.d
/paris_relay.X/build/Relocated/production/_ext/1767644135/*.pre
/paris_relay.X/build/Relocated/production/_ext/382426430/*.p1
/paris_relay.X/build/Relocated/production/_ext/382426430/*.d
/paris_relay.X/build/Relocated/production/_ext/382426430/*.pre
/paris_relay.X/build/default/production/_ext/1472/*.gitignore
/paris_relay.X/dist/Release/production/*.cmf
/paris_relay.X/dist/Release/production/*.hxl
/paris_relay.X/dist/Release/production/*.lst
/paris_relay.X/dist/Release/production/*.map
/paris_relay.X/dist/Release/production/*.rlf
/paris_relay.X/dist/Release/production/*.sdb
/paris_relay.X/dist/Release/production/*.sym
/paris_relay.X/dist/Relocated/production/*.cmf
/paris_relay.X/dist/Relocated/production/*.hxl
/paris_relay.X/dist/Relocated/production/*.lst
/paris_relay.X/dist/Relocated/production/*.map
/paris_relay.X/dist/Relocated/production/*.rlf
/paris_relay.X/dist/Relocated/production/*.sdb
/paris_relay.X/dist/Relocated/production/*.sym
/paris_relay.X/*
/test/flilter_test/*.suo
/test/flilter_test/flilter_test/*.user
/test/flilter_test/ipch/flilter_test-f4697474/*.ipch
