# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64

/test/flilter_test/*.suo
/test/flilter_test/flilter_test/*.user
/test/flilter_test/ipch/flilter_test-f4697474/*.ipch
/paris_relay.X/build/Debug/production/_ext/1472/*.p1
/paris_relay.X/build/Debug/production/_ext/1472/*.d
/paris_relay.X/build/Debug/debug/_ext/1472/*.p1
/paris_relay.X/build/Debug/debug/_ext/1472/*.d
/paris_relay.X/build/Debug/debug/_ext/1472/*.pre
/paris_relay.X/build/Debug/debug/_ext/1554471087/*.p1
/paris_relay.X/build/Debug/debug/_ext/1554471087/*.d
/paris_relay.X/build/Debug/debug/_ext/1554471087/*.pre
/paris_relay.X/build/Debug/debug/_ext/1935753226/*.d
/paris_relay.X/build/Debug/debug/_ext/1935753226/*.p1
/paris_relay.X/build/Debug/debug/_ext/1935753226/*.pre
/paris_relay.X/dist/Debug/debug/*.cmf
/paris_relay.X/dist/Debug/debug/*.hxl
/paris_relay.X/dist/Debug/debug/*.lst
/paris_relay.X/dist/Debug/debug/*.map
/paris_relay.X/dist/Debug/debug/*.rlf
/paris_relay.X/dist/Debug/debug/*.sdb
/paris_relay.X/dist/Debug/debug/*.sym
/eagle/*.s#4
/eagle/*.s#5
/eagle/*.s#6
/eagle/*.s#7
/eagle/*.s#8
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.s#3
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.b#1
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.b#4
/eagle/*.s#4
/eagle/*.s#5
/eagle/*.s#6
/eagle/*.s#8
/eagle/*.s#9
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.s#3
/eagle/*.b#4
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.b#4
/eagle/*.s#5
/eagle/*.s#6
/eagle/*.s#8
/eagle/*.s#9
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.s#3
/eagle/*.s#4
/eagle/*.s#6
/eagle/*.s#8
/eagle/*.s#9
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.b#4
/eagle/*.b#5
/eagle/*.b#6
/eagle/*.b#7
/eagle/*.b#8
/eagle/*.b#9
/eagle/*.s#1
/eagle/*.s#2
/eagle/*.s#3
/eagle/*.s#4
/eagle/*.s#5
/paris_relay.X/build/Debug_26K80/
/paris_relay.X/dist/Debug_26K80/
/paris_relay.X/build/Relocated_2580/production/_ext/1472/*.p1
/paris_relay.X/build/Relocated_2580/production/_ext/1472/*.d
/paris_relay.X/build/Relocated_2580/production/_ext/1472/*.pre
/paris_relay.X/build/Relocated_2580/production/_ext/1935753226/*.p1
/paris_relay.X/build/Relocated_2580/production/_ext/1935753226/*.d
/paris_relay.X/build/Relocated_2580/production/_ext/1935753226/*.pre
/paris_relay.X/dist/Relocated_2580/production/*.cmf
/paris_relay.X/dist/Relocated_2580/production/*.hxl
/paris_relay.X/dist/Relocated_2580/production/*.lst
/paris_relay.X/dist/Relocated_2580/production/*.map
/paris_relay.X/dist/Relocated_2580/production/*.rlf
/paris_relay.X/dist/Relocated_2580/production/*.sdb
/paris_relay.X/dist/Relocated_2580/production/*.sym
